.dropdown-enter {
    transform: scale(1, 0);
    transform-origin: top;
  }
  .dropdown-enter-active {
    transform: scale(1, 1);
    transform-origin: top;
    transition: all 300ms ease-out;
  }
  .dropdown-exit-active {
    transform: scale(1, 0) translateY(-35px);
    transform-origin: top;
    transition: all 300ms ease-out;
  }