* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wrapper{
    width: 710px;
    margin-right: auto;
    margin-left: auto;
}

.keyboard{
    margin: 10px auto;
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    left: 1%;
}

.keyboard div{
    border: 1.5px solid gray;
    border-radius: 5px;
    padding: 5px;
    margin: 2px;
    height: 50px;
}