.speed,
.mistakes {
  display: flex;
  gap: 5px;
  font-size: 13px;
  align-items: center;
  color: gray;
  position: relative;
  cursor: pointer;
}

header {
  border-bottom: 1px solid gray;
}

.header__container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 5px;
}

.header__right,
.header__left {
  gap: 20px;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-end;
}

.text_reset {
  width: 20px;
  height: 20px;

  border: none;
  background-color: transparent;
  border-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  img {
    width: 15px;
    height: 15px;
  }
}

.text_reset:hover {
  background-color: lightgray;
}

.logo {
  width: 70px;
  height: 70px;
  img {
    width: 70px;
    height: 70px;
  }
}
