section {
  display: flex;
}

.tab {
  width: 60px;
}

.backspace {
  text-align: center;
  justify-content: center;
  font-size: 10px;
  width: 60px;
  height: 50px;
}

.caps {
  width: 70px;
  height: 50px;
}

.enter {
  text-align: center;
  justify-content: center;
  width: 92px;
  height: 50px;
}

.shift {
  width: 100%;
  text-align: center;
  justify-content: center;
  width: 108px;
  height: 50px;
}

.space {
  height: 50px;
  width: 300px;
  position: relative;
  margin: 1px 1px 1px 100px;
}

.sys_left {
  justify-content: left;
}

.sys_right {
  justify-content: right;
}

sup {
  font-size: 12px;
  position: relative;
  bottom: 3px;
  left: 3px;
}

.default {
  width: 50px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Roboto", sans-serif !important;
  font-size: 15px;
  line-height: 100%;

  background-color: transparent;
  color: white;
}

.active_default {
  animation: showHideActive 1s linear;
  animation-iteration-count: infinite;
}

@keyframes showHideActive {
  from {
    background: #4071ab;
  }
  to {
    background-color: transparent;
  }
}

.error_default {
  position: relative;
}

.error_default::after {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  border-radius: 5px;
  z-index: -1;
  animation: showHideError 5s linear;
  animation-iteration-count: 1;
}

@keyframes showHideError {
  from {
    background: #9d0e0e;
  }
  to {
    background-color: transparent;
  }
}

.sys_default {
  border: 1px solid lightgray;
  border-radius: 5px;

  display: flex;
  align-items: center;

  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 11px;
  background-color: transparent;
  line-height: 100%;
  padding: 5px;
  margin: 1px;
}

.error_1prior {
  background-color: #b30000 !important;
}

.error_2prior {
  background-color: #7d0000 !important;
}

.error_3prior {
  background-color: #ff8080 !important;
}
