.keyboard{
    margin: 10px auto;
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    left: 1%;
    
    div{
        border: 1.5px solid gray;
        border-radius: 5px;
        padding: 5px;
        margin: 2px;
        height: 50px;
    }
}