.timer{
    position: absolute;
    left: 48%;
}

.current{
    display: flex;
    align-items: center;
    gap: 5px;
}

.switch{
    margin-top: 2px;
    margin-bottom: 2px;
    border: none;
    text-align: center;
    background-color: transparent;
    cursor: pointer;
}

.switch p{
    font-size: 13.5px;
    color: gray;
    line-height: none;
    text-decoration: underline dashed;
}